@charset "UTF-8";

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 420px;
    box-sizing: border-box;
    height: 52px;
    border: 4px solid #000000;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #000000;
    font-family: inherit;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}